.navbar {
  padding-top: 50px;
}

.my-dropdown-menu li a {
  cursor: pointer;
  padding: 10px 20px;
  position: relative;
  color: #333;
}

.my-dropdown-menu li a:hover {
  color: #13b8aa;
  background-color: transparent;
}

.my-dropdown-menu li+li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: 1em;
  margin-right: 1em;
  border-top: 1px solid #eee;
}

.nav li {
  cursor: pointer;
}

.logo {
  font-size: 30px;
  text-transform: uppercase;

  span {
    font-weight: 300;
  }
}

.cart {
  .my-badge {
    margin-left: 4px;
    background-color: #13b8aa;
    position: relative;
    top: -2px;
  }
}
