<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Menu Switch</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand"><label class="logo">EC<span>Template</span></label></a>
        </div>

        <!-- Hide for mobile devices -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <!-- Right Menu -->
            <ul *ngIf="menuList" class="nav navbar-nav navbar-right">
                <li *ngFor="let menu of menuList" [class.dropdown]="menu.hasChildren">
                    <!-- Have SubMenu -->
                    <a *ngIf="menu.hasChildren" class="dropdown-toggle" data-toggle="dropdown">{{menu.name}}<b class="caret"></b></a>
                    <ul *ngIf="menu.hasChildren" class="dropdown-menu my-dropdown-menu">
                        <li *ngFor="let subMenu of menu.children" [routerLink]="['category/'+ subMenu.redirect]"><a>{{subMenu.name}}</a></li>
                    </ul>
                    <!-- No SubMenu -->
                    <a *ngIf="!menu.hasChildren" [routerLink]="[menu.redirect]">{{menu.name}}</a>
                </li>
                <!-- Shopping Cart -->
                <li><a [routerLink]="'./shopping-cart'" class="cart">Shopping Cart<span class="badge my-badge">{{dataService.shoppingCartData.length}}</span></a></li>
            </ul>
        </div>
    </div>
</nav>


