<div class="footer">
    <div class="container footer-data1">
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="footer-menu1">
                    <ul class="list-unstyled">
                        <li><a href="#">退換貨流程</a></li>
                        <li><a href="#">購物須知</a></li>
                        <li><a href="#">海外購物須知</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="footer-menu2">
                    <ul class="list-unstyled">
                        <li><a href="#">聯絡我們</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">小日子官網</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container footer-data2">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <a href="#"><img src="https://picsum.photos/120/40?random=5"></a>
                <a href="#"><img src="https://picsum.photos/120/40?random=6"></a>
            </div>
        </div>
    </div>
</div>
