<div class="footer">
    <div class="container footer-data1">
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="footer-menu1">
                    <ul class="list-unstyled">
                        <li><a>Your orders</a></li>
                        <li><a>Returns & Replacements</a></li>
                        <li><a>Shipping Rates & Policies</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="footer-menu2">
                    <ul class="list-unstyled">
                        <li><a>Contact Us</a></li>
                        <li><a>Facebook</a></li>
                        <li><a>Official Website</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Sponsors -->
    <div class="container footer-data2">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <a><img src="https://picsum.photos/120/40?random=5"></a>
                <a><img src="https://picsum.photos/120/40?random=6"></a>
            </div>
        </div>
    </div>
</div>
