<div class="row">
    <div class="product-list">
        <div *ngFor="let product of returnedArray" class="col-xs-6 col-sm-3">
            <app-product-thumbnail [data]="product"></app-product-thumbnail>
        </div>
    </div>

</div>
<!-- Pagination -->
<div class="row">
    <div class="col-xs-12 col-sm-12 text-center">
        <pagination
            previousText="&lsaquo;"
            nextText="&rsaquo;"
            firstText="&laquo;"
            lastText="&raquo;"
            [totalItems]="productArray.length || 0"
            (pageChanged)="pageChanged($event)"
            [itemsPerPage]="itemsPerPage"
            [boundaryLinks]="true"
            [maxSize]="5"
            [rotate]="false"></pagination>
    </div>
</div>