<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{header}}<span class="dropdown-header-value">{{defaultValue}}</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li *ngIf="header" class="dropdown-header">{{header}}</li>
        <!-- Item List -->
        <li *ngFor="let item of data" (click)="onSelect(item)"><a>{{item.name}}</a></li>
    </ul>
</div>