<div class="container">
    <h1 class="sc-header">Shopping Cart</h1>
    <hr>
    <!-- Cart Cards -->
    <div class="col-md-9 col-xs-12">
        <ul class="cart-wrap">

            <li class="cart-item">
                <div class="info-wrap">
                    <!-- Product Info -->
                    <div class="cart-section product-info">
                        <img src="https://picsum.photos/300/320?random=23">
                        <p class="item-number">#test</p>
                        <h3 class="item-name">Product Name</h3>
                        <p class="qty">
                            <input type="text" class="qty-input">
                            x $1900
                        </p>
                        <p class="stock-status">In Stock</p>
                    </div>
                    <!-- Total Price -->
                    <div class="cart-section price-total">
                        <p>$1900</p>
                    </div>
                    <div class="cart-section remove-wrap">
                        <a class="remove-button">x</a>
                    </div>
                </div>
            </li>


        </ul>
    </div>

    <div class="col-md-3 col-xs-12">
        price
    </div>


</div>
