.sc-header {
  text-transform: uppercase;
  padding: 10px 25px;
  margin-bottom: 0px;
  letter-spacing: 2px;
  font-size: 18px;
}

hr {
  height: 0;
  box-sizing: content-box;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.empty {
  text-align: center;
  margin-bottom: 200px;
  color: #ccc;
}

.cart-wrap {
  list-style: none;
  padding: 0px;

  .cart-item {
    display: block;
    width: 100%;
    vertical-align: middle;
    padding: 1.5em;
    border-bottom: 1px solid #fafafa;

    .info-wrap {
      display: table;
      width: 100%;

      .cart-section {
        display: table-cell;
        vertical-align: middle;

      }

      .product-info {
        img {
          float: left;
          width: 8em;
          display: inline;
          padding-right: 1em;
        }

        .item-number {
          display: inline-block;
          font-size: .75em;
          color: #777;
          margin-bottom: 0px;
        }

        .item-name {
          margin-top: 0px;
          font-size: 1em;
          font-family: "Montserrat", sans-serif;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: .025em;
        }

        .qty {
          display: inline-block;
          font-size: .85em;
          color: #777777;
          font-family: "Montserrat", sans-serif;

          .qty-input {
            width: 2em;
            text-align: center;
            font-size: 1em;
            padding: .25em;
            margin: 1em .5em 0 0;
          }
        }

        .stock-status {
          font-family: "Montserrat", sans-serif;
          color: #13b8aa;
          font-weight: bold;
          padding: .5em 0 0 1em;
          text-transform: uppercase;
          display: inline-block;
          font-size: .85em;
        }

        .out-stock {
          color: #F69679;
        }

      }

      .price-total {
        text-align: center;

        p {
          font-weight: bold;
          font-size: 1.25em;
          display: inline-block;
          color: #777777;
          font-family: "Montserrat", sans-serif;
        }
      }

      .remove-wrap {
        vertical-align: top;

        .remove-button {
          text-decoration: none;
          font-family: "Montserrat", sans-serif;
          color: #ffffff;
          font-weight: bold;
          background: #e0e0e0;
          padding: .5em;
          font-size: .75em;
          display: inline-block;
          border-radius: 100%;
          line-height: .85;
          -webkit-transition: all 0.25s linear;
          -moz-transition: all 0.25s linear;
          -ms-transition: all 0.25s linear;
          -o-transition: all 0.25s linear;
          transition: all 0.25s linear;
        }

        .remove-button:hover {
          background: #f30;
        }
      }
    }
  }


}

.even-section {
  background-color: #fafafa;
}

.btn-continue {
  margin-bottom: 10px;
}

.order-summary {
  border-radius: 0px;
  border: 1px solid #ededed;
  margin-bottom: 30px;
  padding: 0 15px;
  background-color: white;
}

.section-header {
  padding: 10px 15px;
  margin: 0 -15px;
  font-weight: 500;
  text-align: center;
  background-color: #F6F6F6;
  line-height: 26px;
  color: #666;

  h3 {
    padding: 2px 0;
    font-weight: 500;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
  }
}

.section-body {
  padding: 15px 0 0 0;

  div {
    margin-bottom: 10px;
  }

  hr {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
  }

  .price-info {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
  }

  .total {
    font-weight: 600;
    font-size: 17px;
  }

  .btn-check-out {
    background-color: #13b8aa;
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    margin-top: 5px;
  }

  .btn-check-out:hover {
    background-color: #13b8aa;
    border-color: #13b8aa;
  }

}

.pull-left {
  float: left;
  letter-spacing: 1px;
}

.pull-right {
  float: right;
  letter-spacing: 1px;
}
