.thumbnail {
  cursor: pointer;
  text-decoration: none;
  border: none;
  padding: 0;
  transition: transform .2s;

  .caption {
    padding-left: 0;
    padding-right: 0;

    h2 {
      font-size: 15px;
      margin-top: 0;
    }

    .price {
      display: block;
      font-size: 15px;
      color: #666;

      del {
        display: block;
        font-size: 15px;
        color: #999;
      }

      .sale {
        display: block;
        color: #c0392b;
      }
    }
  }

}

.thumbnail:hover {
  transform: scale(1.05);
}
