<a (click)="directTo()" class="thumbnail">
    <img [defaultImage]="defaultImage" [lazyLoad]="data.img" [offset]="0">
    <div class="caption">
        <h2>{{data.name}}</h2>
        <p *ngIf="data.onSale" class="price">
            <del>${{data.costPrice}}</del>
            <span class="sale">${{data.salePrice}}</span>
        </p>
        <p *ngIf="!data.onSale" class="price">
            <span>${{data.costPrice}}</span>
            <del style="visibility: hidden">not on sale</del>
        </p>
    </div>
</a>