<!-- Carousel -->
<div class="container mb-40">
 <app-carousel></app-carousel>
</div>


<div class="products mb-40">
    <!-- Sections -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="main-title">
                    <h2>Section Title</h2>
                </div>
        </div>
    </div>
    <app-product-list [data]="productList" [itemsPerPage]="8"></app-product-list>
    </div>
</div>

<!-- Advertisements -->
<div class="jd1 mb-40">
  <div class="container">
    <img src="https://picsum.photos/1200/300?random=30">
  </div>
</div>

<div class="jd2 mb-40">
  <div class="container">
    <img src="https://picsum.photos/1200/120?random=31">
  </div>
</div>