<div class="container">
    <div [formGroup]="form" novalidate>
        <!-- Header -->
        <div class="header">
            <h1 class="title">Payment</h1>
            <div class="summary">
                <h3>Order Total: ${{data.totalPrice}}</h3>
                <h5>- {{getTotalItems()}} items</h5>
            </div>
        </div>

        <hr>

        <div class="col-md-6 col-xs-12">
            <!-- Customer Info -->
            <section class="info-card">
                <div class="section-header">
                    <h3>Customer Info</h3>
                </div>
                <div class="section-body">
                    <form class="form-horizontal" formGroupName="customerInfo">
                        <!-- Name -->
                        <div class="form-group" [ngClass]="displayFieldCss('customerInfo.name')">
                            <div class="col-xs-12">
                                <label for="name" class="required-label">Full Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Full Name" formControlName="name">
                                <app-field-error-display
                                    [displayError]="isRequiredValid('customerInfo.name')"
                                    errorMsg="Please inform your name">
                                </app-field-error-display>
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="form-group" [ngClass]="displayFieldCss('customerInfo.email')">
                            <div class="col-xs-12">
                                <label for="email" class="required-label">Email Address</label>
                                <input type="email" class="form-control" id="email" placeholder="Email Address" formControlName="email">
                                <app-field-error-display
                                    [displayError]="isRequiredValid('customerInfo.email')"
                                    errorMsg="Please inform your Email">
                                </app-field-error-display>
                            </div>
                        </div>
                        <!-- Phone Number -->
                        <div class="form-group" [ngClass]="displayFieldCss('customerInfo.phoneNumber')">
                            <div class="col-xs-12">
                                <label for="phone-number" class="required-label">Phone Number</label>
                                <input type="text" class="form-control" id="phone-number" placeholder="Phone Number" formControlName="phoneNumber" appDigitOnly>
                                <app-field-error-display
                                    [displayError]="isRequiredValid('customerInfo.phoneNumber')"
                                    errorMsg="Please inform your Phone Number">
                                </app-field-error-display>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

            <!-- Payment Detail -->
            <section class="info-card">
                <div class="section-header">
                    <h3>Payment Detail</h3>
                </div>
                <div class="section-body">
                    <form class="form-horizontal" formGroupName="paymentInfo">
                        <!-- Card Holder's Name -->
                        <div class="form-group" [ngClass]="displayFieldCss('paymentInfo.holderName')">
                            <div class="col-xs-12">
                                <label for="holder-name" class="required-label">Card Holder's Name</label>
                                <input type="text" class="form-control" id="holder-name" placeholder="Card Holder's Name" formControlName="holderName">
                                <app-field-error-display
                                    [displayError]="isRequiredValid('paymentInfo.holderName')"
                                    errorMsg="Please inform your Holder Name">
                                </app-field-error-display>
                            </div>
                        </div>
                        <!-- Card Number -->
                        <div class="form-group" [ngClass]="displayFieldCss('paymentInfo.cardNumber')">
                            <div class="col-xs-12">
                                <label for="card-number" class="required-label">Card Number</label>
                                <input type="text" class="form-control" id="card-number" placeholder="Debit/Credit Card Number" formControlName="cardNumber"
                                (input)="limitedInputLength( 'paymentInfo.cardNumber', 12)" appDigitOnly>
                                <app-field-error-display
                                    [displayError]="isRequiredValid('paymentInfo.cardNumber')"
                                    errorMsg="Please inform your Card Number">
                                </app-field-error-display>
                                <app-field-error-display
                                    [displayError]="isMinLengthValid('paymentInfo.cardNumber')"
                                    errorMsg="Card Number must be 12 digit codes">
                                </app-field-error-display>
                            </div>
                        </div>
                        <!-- Expired Date & CVC -->
                        <div class="form-group">
                            <div class="col-xs-6" [ngClass]="displayFieldCss('paymentInfo.expiredDate')">
                                <label for="expired-date" class="required-label">Expired Date</label>
                                <input type="text" class="form-control" id="expired-date" placeholder="MM/YY" formControlName="expiredDate" (input)="checkExpiredDatePattern($event)" appDigitOnly>
                                <app-field-error-display
                                    [displayError]="isRequiredValid('paymentInfo.expiredDate')"
                                    errorMsg="Please inform Card Expired Date">
                                </app-field-error-display>
                            </div>
                            <!-- CVC -->
                            <div class="col-xs-6" [ngClass]="displayFieldCss('paymentInfo.cvc')">
                                <label for="cvc" class="required-label">CVC</label>
                                <input type="text" class="form-control" id="cvc" placeholder="CVC" formControlName="cvc"
                                (input)="limitedInputLength('paymentInfo.cvc', 3)" appDigitOnly>
                                <app-field-error-display
                                    [displayError]="isRequiredValid('paymentInfo.cvc')"
                                    errorMsg="Please inform Card CVC">
                                </app-field-error-display>
                                <app-field-error-display
                                    [displayError]="isMinLengthValid('paymentInfo.cvc')"
                                    errorMsg="CVC must be 3 digit codes">
                                </app-field-error-display>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
        <!-- Delivery Detail -->
        <div class="col-md-6 col-xs-12">
            <section class="info-card">
                <div class="section-header">
                    <h3>Delivery Detail</h3>
                </div>
                <div class="section-body">
                    <form class="form-horizontal" formGroupName="deliveryInfo">
                        <!-- Checkbox -->
                        <div class="form-group">
                            <div class="col-xs-12 checkbox">
                                <label>
                                    <input #delivery_cb type="checkbox" (change)="toggleDeliveryCB(delivery_cb.checked)"> Recipient Info is the same as Customer Info
                                </label>
                            </div>
                        </div>
                        <!-- Recipient Name -->
                        <div class="form-group" [ngClass]="displayFieldCss('deliveryInfo.recipientName')">
                            <div class="col-xs-12">
                                <label for="recipient-name" class="required-label">Recipient Name</label>
                                <input type="text" class="form-control" id="recipient-name" placeholder="Recipient Name" formControlName="recipientName">
                                <app-field-error-display
                                    [displayError]="isRequiredValid('deliveryInfo.recipientName')"
                                    errorMsg="Please inform Recipient Name">
                                </app-field-error-display>
                            </div>
                        </div>
                        <!-- Recipient Number -->
                        <div class="form-group" [ngClass]="displayFieldCss('deliveryInfo.recipientNumber')">
                            <div class="col-xs-12">
                                <label for="recipient-number" class="required-label">Recipient Number</label>
                                <input type="text" class="form-control" id="recipient-number" placeholder="Recipient Number" formControlName="recipientNumber" appDigitOnly>
                                <app-field-error-display
                                    [displayError]="isRequiredValid('deliveryInfo.recipientNumber')"
                                    errorMsg="Please inform Recipient Phone Number">
                                </app-field-error-display>
                            </div>
                        </div>

                        <hr>
                        <!-- Address -->
                        <!-- Address Line 1 -->
                        <div class="form-group" [ngClass]="displayFieldCss('deliveryInfo.addressLine1')">
                            <div class="col-xs-12">
                                <label for="add-line-1" class="required-label">Address</label>
                                <input type="text" class="form-control" id="add-line-1" placeholder="Address Line 1" formControlName="addressLine1">
                                <app-field-error-display
                                    [displayError]="isRequiredValid('deliveryInfo.addressLine1')"
                                    errorMsg="Please inform your Address">
                                </app-field-error-display>
                            </div>
                        </div>
                        <!-- Address Line 2 -->
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input type="text" class="form-control" id="add-line-2" placeholder="Address Line 2"  formControlName="addressLine2">
                            </div>
                        </div>
                        <!-- City -->
                        <div class="form-group" [ngClass]="displayFieldCss('deliveryInfo.city')">
                            <div class="col-xs-12">
                                <label for="city" class="required-label">City</label>
                                <input type="text" class="form-control" id="city" placeholder="City" formControlName="city">
                                <app-field-error-display
                                    [displayError]="isRequiredValid('deliveryInfo.city')"
                                    errorMsg="Please inform your City">
                                </app-field-error-display>
                            </div>
                        </div>
                        <!-- State & Postcode -->
                        <div class="form-group">
                            <!-- State -->
                            <div class="col-xs-6" [ngClass]="displayFieldCss('deliveryInfo.state')">
                                <label for="state" class="required-label">State</label>
                                <input type="text" class="form-control" id="state" placeholder="State" formControlName="state">
                                <app-field-error-display
                                    [displayError]="isRequiredValid('deliveryInfo.state')"
                                    errorMsg="Please inform your State">
                                </app-field-error-display>
                            </div>
                            <!-- Postcode -->
                            <div class="col-xs-6" [ngClass]="displayFieldCss('deliveryInfo.postcode')">
                                <label for="postcode" class="required-label">Postcode</label>
                                <input type="text" class="form-control" id="postcode" placeholder="Postcode" formControlName="postcode" appDigitOnly>
                                <app-field-error-display
                                    [displayError]="isRequiredValid('deliveryInfo.postcode')"
                                    errorMsg="Please inform your Postcode">
                                </app-field-error-display>
                            </div>
                        </div>
                        <!-- Country -->
                        <div class="form-group" [ngClass]="displayFieldCss('deliveryInfo.country')">
                            <div class="col-xs-12">
                                <label for="country" class="required-label">Country</label>
                                <input type="text" class="form-control" id="country" placeholder="Country" formControlName="country">
                                <app-field-error-display
                                    [displayError]="isRequiredValid('deliveryInfo.country')"
                                    errorMsg="Please inform your Country">
                                </app-field-error-display>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>

        <!-- Submit button -->
        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-12 col-md-6 submit-block">
                    <a class="btn btn-success btn-confirm" (click)="onSubmit()">
                        Submit
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>
