<div id="carousel-id" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li *ngFor="let item of data; let i = index" data-target="#carousel-id" [attr.data-slide-to]="i" [className]="i === 0 ? 'active': ''"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div *ngFor="let item of data; let i = index" [ngClass]="i == 0 ? 'item active' : 'item' ">
            <img [src]="item.img" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>{{item.title}}</h1>
                    <p class="hidden-xs hidden-sm">{{item.description}}</p>
                    <p *ngIf="item.button.display" class="hidden-xs hidden-sm"><a class="btn btn-lg btn-primary" [href]="item.button.href" role="button">{{item.button.content}}</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
